---
http_interactions:
- request:
    method: get
    uri: https://hatchways.io/api/assessment/blog/posts?tag=tech
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      X-Cloud-Trace-Context:
      - 34e936839a44d438880e29ac31a33e77
    body:
      encoding: UTF-8
      string: "{\n  \"posts\": [\n    {\n      \"author\": \"Rylee Paul\", \n      \"authorId\":
        9, \n      \"id\": 1, \n      \"likes\": 960, \n      \"popularity\": 0.13,
        \n      \"reads\": 50361, \n      \"tags\": [\n        \"tech\", \n        \"health\"\n
        \     ]\n    }, \n    {\n      \"author\": \"Zackery Turner\", \n      \"authorId\":
        12, \n      \"id\": 2, \n      \"likes\": 469, \n      \"popularity\": 0.68,
        \n      \"reads\": 90406, \n      \"tags\": [\n        \"startups\", \n        \"tech\",
        \n        \"history\"\n      ]\n    }, \n    {\n      \"author\": \"Elisha
        Friedman\", \n      \"authorId\": 8, \n      \"id\": 4, \n      \"likes\":
        728, \[...]
